/* Basic stylesheet */


// Main Body
body {
  padding-top: 50px;

  // Header styling
  header {
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.65)), url("../images/magic-box.jpg") center;
    //background: url("../images/vintage-red.jpg") center;
    background-size: cover;
    //height: 400px;
    text-align: center;

  }

  // Section styling
  section {
    &#main {
      //padding-top: 50px;
      section {
        &#content {
          text-align: center;
        }
      }
    }
  }

}




