/* Basic stylesheet */
/* Gloabl Less Variables */
nav#paginator {
  margin-left: auto;
  margin-right: auto;
}
nav form.dropdown-menu.login {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}
nav .join {
  margin-right: 10px;
  margin-left: 10px;
}
nav a.navbar-brand {
  padding: 0 10px 0 0;
}
nav .logo {
  height: 50px;
}
body {
  background-color: #2b2e32;
  padding-top: 50px;
}
body header#home {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75)), url("../images/magic-box.jpg") center;
  background-size: cover;
  text-align: center;
}
body header#home.jumbotron {
  margin-bottom: 0px;
}
body header#home.jumbotron img {
  margin-left: auto;
  margin-right: auto;
}
body header#routines {
  background: none;
  padding-left: 25px;
}
body header#routines p {
  text-align: center;
}
body header#about {
  padding-top: 25px;
}
body header#help {
  padding-top: 25px;
}
body header#help img.help-logo {
  height: 100px;
}
body section#main section#content {
  text-align: center;
}
body section#main section#about-body p {
  font-size: 16px;
}
body section#main section div#help-body {
  position: relative;
}
body section#page section#content {
  text-align: left;
  padding-top: 50px;
}
body section#page section#content section#social {
  font-size: 32px;
}
body#home footer {
  width: 100%;
  height: 100px;
  background-color: #2b2e32;
  padding: 25px 0 25px 0;
}
