body {
  /*padding-top: 70px;  *//* Move body of page below navbar. */
}

.header {
  background-image: url('../images/contacts.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
}