/* Basic stylesheet */
body {
  padding-top: 50px;
}
body header {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65)), url("../images/magic-box.jpg") center;
  background-size: cover;
  text-align: center;
}
body section #main {
  padding-top: 50px;
}
