/* Basic stylesheet */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65)), url("../images/ace-of-spades-1.jpg");
  height: 400px;
}
body {
  padding-top: 50px;
}
section#main {
  padding-top: 50px;
}
