@*
* The application's About page.
*
* @see http://www.playframework.com
*@
@()

@Main("about") {
  <!-- Page Content -->
  <section id="main">
      <!-- Header -->
    <header id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <img class="img-responsive logo" src="@routes.Assets.at("images/logo_original_trans.png")"/>
            <p><em>We're looking for a few good routines</em></p>
          </div>
        </div>
      </div>
    </header>
    <hr />
    <section id="about-body" class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>About this Website</h3>
          <div class="well">
            <p>PlayWithMagic is a place for magicians to catalog and share their Routines, find new Routines and
              build Sets.</p>

            <p>Any magician can post their Routines or Magic Tricks.</p>

            <p>From this list, a magician can then create a Set, or a series of Routines.</p>
          </div>
        </div>

        <div class="col-md-4">
          <h3>Powered By</h3>
          <div class="well">
            <p>
              <i class="fa fa-css3 fa-fw"></i>
              <a href="http://getbootstrap.com/">Responsive Layout built on Twitter Bootstrap</a>
            </p>
            <p>
              <i class="fa fa-play fa-fw"></i>
              <a href="http://playframework.com">Built with Java on the Play Framework</a>
            </p>
            <p>
              <i class="fa fa-database fa-fw"></i>
              <a href="http://www.postgresql.org">Backend Database by PostgreSQL</a>
            </p>
            <p>
              <i class="fa fa-cloud fa-fw"></i>
              <a href="http://heroku.com/">Hosted by Heroku</a>
            </p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Attribution & Credit</h3>
          <div class="well">
            <h4>Consulting Magicians</h4>
            <ul>
              <li><a href="http://www.leeasher.com">Lee Asher</a></li>
              <li><a href="http://www.grandillusions.com">Steve Johnson</a></li>
              <li><a href="http://www.waynehouchin.com">Wayne Houchin</a></li>
              <li><a href="http://mark.nelson.engineer/wordpress/index.php/magic-home-page/">Mark Nelson</a></li>
            </ul>

            <br />

            <h4>Images</h4>
            <p>Home page background image "Mysto Magic" is unaltered and was photographed by<br />
              <a href="https://www.flickr.com/photos/glenbledsoe/4836241042/">PhotoAtelier on Flickr</a>,
              licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.
            </p>
            <p>Logo is comprised of the following free vector images:
          <ul>
            <li>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
              <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under
              <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
            </li>
            <li>Shooting Stars from <a href="http://shmector.com">Shmector</a></li>
          </ul>
          </div>
        </div>

        <div class="col-md-4">
          <h3>Links</h3>
          <div class="well">
            <p>
              <i class="fa fa-github"></i>
              <a href="http://github.com/PlayWithMagic/PlayWithMagic">Collaborate and view the code on Github</a>
            </p>
            <p>
              <i class="fa fa-bookmark"></i>
              <a href="http://playwithmagic.github.io/PlayWithMagic.org/">Checkout our project page</a>
            </p>
          </div>
        </div>


        <div class="col-md-4">
          <h3>Authors</h3>
          <div class="well">
            <p>PlayWithMagic was written by:</p>
            <ul>
              <li><a href="http://mark.nelson.engineer/">Mark Nelson</a></li>
              <li><a href="https://davidneely.wordpress.com/">David Neely</a></li>
              <li><a href="http://patrickakarjala.wordpress.com">Patrick Karjala</a></li>
            </ul>
            <p>...in the Spring of 2015 for ICS 613 - Advanced Software Engineering.</p>
            <p>The authors would like to extend their thanks and appreciation to the University of Hawaii's
              <a href="http://www.ics.hawaii.edu">Information and Computer Science Department</a>
              and to <a href="http://philipmjohnson.org">Dr. Philip Johnson</a>.</p>
          </div>
        </div>

      </div>
    </section>
  </section>
}