@*
* The Edit (New and Update) Routine HTML form page.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician, routineForm: Form[views.formdata.RoutineFormData],
    materials: List[Material])

@import java.util.List

@import helper.form
@import views.html.bootstrap3.{hidden, image, text, text45, textInt, textarea};

@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-12">
        @if(routineForm("id").value == "0") {
          <h1>Create Routine</h1>
        } else {
          <h1>Update Routine</h1>
        }

          <!-- Form Fields -->
        <div class="container">
        @form(routes.Application.postRoutine(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

          @hidden(routineForm("id"))

          @text45(routineForm("name"),
            label = "Name",
            placeholder = "A short name for the routine",
            help = "")

          @textarea(routineForm("description"),
            rows = "3",
            label = "Description",
            placeholder = "A brief description of the routine",
            help = "")

          @textInt(routineForm("duration"),
            label = "Duration",
            placeholder = "Minutes",
            help = "The average time to perform a basic rendition of this routine in minutes.")

          @textarea(routineForm("method"),
            rows = "3",
            label = "Method",
            placeholder = "The overarching 'secret' of a magic trick. Usually comprised of a combination of " +
                "slights and handlings.",
            help = "")

          @textarea(routineForm("handling"),
            rows = "3",
            label = "Handling",
            placeholder = "Discuss the overt handling (moves and techniques) for this routine",
            help = "")

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Materials

                <button id="saveMaterialFromForm" type="submit" class="btn btn-success btn-xs pull-right"
                formaction="@routes.Application.newMaterial()">
                  Add Material
                </button>

              </h3>
            </div>
            <div class="panel-body">

              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price $</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                @for(material <- materials) {
                  <tr>
                    <td>@material.getName()</td>
                    <td>@material.getPrice()</td>
                    <td>
                    @if(material.getImageId > 0) {
                      <img class="img-responsive" src="@routes.Application.getImage(material.getImageId)"
                      alt="Image of Material" />
                    } else {
                      <img class="img-responsive" src="@routes.Assets.at("images/card-rainbow.jpg")"
                      alt="Material Image Placeholder" />
                    }
                    </td>
                    <td>
                      <button id="edit-material" type="submit" class="btn btn-warning btn-xs editMaterial"
                      formaction="@routes.Application.editMaterial(materials.indexOf(material))">
                        Edit
                      </button>
                    </td>
                    <td>
                      <button id="delete-material" type="submit" class="btn btn-danger btn-xs deleteMaterial"
                      formaction="@routes.Application.deleteMaterial(materials.indexOf(material))">
                        Delete
                      </button>

                    </td>
                  </tr>
                }
                </tbody>
              </table>

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Setup & Reset</h3>
            </div>
            <div class="panel-body">
              @textInt(routineForm("resetDuration"),
                label = "Setup / Reset Duration",
                placeholder = "Mins",
                help = "The average time to prepare this routine or reset it.  Set to 0 if it resets during the act.")

              @textarea(routineForm("resetDescription"),
                rows = "3",
                label = "Reset Description",
                placeholder = "Describe the steps to prepare (or reset) this routine",
                help = "")
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Media</h3>
            </div>
            <div class="panel-body">
              @text(routineForm("youTubeUrl"),
                label = "YouTube URL",
                placeholder = "The URL to your YouTube video performing this routine",
                help = "Please use an embed URL in the form of http://www.youtube.com/embed/VIDEO_ID")

              <!-- Shows Current Routine Image -->
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                @if(routineForm("id").value != "0") {
                  @if(Routine.getRoutine(routineForm.get.id).getImageId > 0) {
                    <img class="img-responsive"
                    src="@routes.Application.getImage(Routine.getRoutine(routineForm.get.id).getImageId)"
                    alt="Image of Magician" width="400"/>
                  }
                } else {
                  <img class="img-responsive" src="@routes.Assets.at("images/card-rainbow.jpg")"
                  alt="Magician Image Placeholder" width="400"/>
                }
                </div>
              </div>
              <br />

              <!-- Routine Image -->
              @image(routineForm("image"),
                label = "Image",
                help = "Select an image")
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reviews</h3>
            </div>
            <div class="panel-body">
            @text(routineForm("reviewUrl"),
              label = "Review URL",
              placeholder = "The URL to a review of this routine",
              help = "Please enter a valid url that points to a review of this routine.")
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
              @textarea(routineForm("inspiration"),
                rows = "3",
                label = "Inspiration",
                placeholder = "What is the inspiration for this routine?",
                help = "")

              @textarea(routineForm("placement"),
                rows = "3",
                label = "Placement",
                placeholder = "What routines would you put before or after this?",
                help = "")

              @textarea(routineForm("choices"),
                rows = "3",
                label = "Choices",
                placeholder = "Why did you make some of the choices you made in the design of this routine?",
                help = "")
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="submit" type="submit" class="btn btn-default">
              @if(routineForm("id").value == "0") {Add} else {Update}
              </button>
            </div>
          </div>
        }
        </div>
      </div>
    </section>
  </section>
}