@*
* The Edit (New and Update) Routine HTML form page.
*
* @author Mark Nelson
* @see http://www.playframework.com
*@
@(setForm: Form[views.formdata.SetFormData], routines: List[Routine])

@import helper.form
@import views.html.bootstrap3.{text, text45, textInt, textarea}

@Main("editSet") {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-12">
        @if(setForm("id").value == "0") {
          <h1>Create Set</h1>
        } else {
          <h1>Update Set</h1>
        }
          <!-- User Attributes -->
        <div class="container">
        @form(routes.Application.postSet(), 'class -> "form-horizontal") {
          <input type="hidden"
          name="@setForm("id").name"
          id="@setForm("id").id"
          value="@setForm("id").value"/>

          @text45(setForm("setName"),
            label = "Name",
            placeholder = "A short name for the Set",
            help = "")

          @textarea(setForm("description"),
            rows = "3",
            label = "Description",
            placeholder = "A brief description of the Set",
            help = "")

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Routines</h3>
            </div>
            <div class="panel-body">
              A list of Routines will need to be propigated here.
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="submit" type="submit" class="btn btn-default">
              @if(setForm("id").value == "0") {Add} else {Update}
              </button>
            </div>
          </div>
        }
        </div>
      </div>
    </section>
  </section>
}