@*
* The Edit (New and Update) Magician HTML form page.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician,
    magicianForm: Form[views.formdata.EditMagicianFormData], magicianTypeMap: Map[String, Boolean])

@import helper._
@import views.html.bootstrap3._


@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-12">
        <h1>Magician Profile</h1>
          <!-- User Attributes -->
        <div class="container">
        @form(routes.Application.postMagician(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
            <!-- Hidden ID Field -->
          @hidden(magicianForm("id"))
            <!--<form class="form-horizontal">-->
            <!-- First Name -->
          @text45(magicianForm("firstName"),
            label = "First Name",
            placeholder = "First Name",
            help = "Required")
            <!-- Last Name -->
          @text45(magicianForm("lastName"),
            label = "Last Name",
            placeholder = "Last Name",
            help = "Required")
            <!-- Email -->
          @text(magicianForm("email"),
            label = "Email",
            placeholder = "i.e., name@domain.com",
            help = "Required")
            <!-- Magician Type -->
          @bootstrap3.select(magicianForm("magicianType"),
            label = "Experience with Magic",
            optionMap = magicianTypeMap,
            isMultiple = false,
            help = "Required")
          <!-- Magician Image -->
          @image(magicianForm("image"),
            label="Image",
            help="Select an image")
            <!-- Stage Name -->
          @text(magicianForm("stageName"),
            label = "Stage Name",
            placeholder = "Stage Name",
            help = "")
            <!-- Location -->
          @text(magicianForm("location"),
            label = "Location",
            placeholder = "City, State, and/or Country",
            help = "")
            <!-- Biography -->
          @bootstrap3.textarea(magicianForm("biography"),
            rows = "5",
            label = "Biography",
            placeholder = "Tell us about yourself!",
            help = "")
            <!-- Interests -->
          @bootstrap3.textarea(magicianForm("interests"),
            rows = "3",
            label = "Interests",
            placeholder = "What are your interests in Magic?",
            help = "")
            <!-- Influences -->
          @text(magicianForm("influences"),
            label = "Influences",
            placeholder = "Who are your influences?",
            help = "")
            <!-- Year Started -->
          @textInt(magicianForm("yearStarted"),
            label = "Year Started",
            placeholder = "Year",
            help = "")
            <!-- Organizations -->
          @text(magicianForm("organizations"),
            label = "Organizations",
            placeholder = "Any Magic Organizations that you participate in",
            help = "")
            <!-- Website -->
          @text(magicianForm("website"),
            label = "Website URL",
            placeholder = "i.e., http://www.example.com/",
            help = "")

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Social Media</h3>
            </div>
            <div class="panel-body">

                <!-- Facebook -->
              @text(magicianForm("facebook"),
                label = "Facebook",
                placeholder = "Facebook page URL",
                help = "")
                <!-- Twitter -->
              @text(magicianForm("twitter"),
                label = "Twitter",
                placeholder = "Twitter handle",
                help = "")
                <!-- LinkedIn -->
              @text(magicianForm("linkedIn"),
                label = "Linkedin",
                placeholder = "Linkedin Profile URL",
                help = "")
                <!-- Google + -->
              @text(magicianForm("googlePlus"),
                label = "Google+",
                placeholder = "Google + Profile URL",
                help = "")
                <!-- flickr -->
              @text(magicianForm("flickr"),
                label = "flickr",
                placeholder = "flickr Profile URL",
                help = "")
                <!-- Instagram -->
              @text(magicianForm("instagram"),
                label = "Instagram",
                placeholder = "Instgram handle",
                help = "")
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="submit" type="submit" class="btn btn-default">
                Update
              </button>
            </div>
          </div>
        }
        </div>
      </div>
    </section>
  </section>
}