@*
* The application's Help page.
*
* @see http://www.playframework.com
*@
@()

@Main("help") {
  <!-- Page Content -->
  <section id="main">
    <!-- Header -->
    <header id="help">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <img class="img-responsive help-logo" src="@routes.Assets.at("images/logo_original_trans.png")"/>
            <h1>Help</h1>
          </div>
        </div>
      </div>
    </header>
    <hr />
    <section class="container">
      <div class="row">
        <div class="col-md-9" role="main" data-spy="scroll" data-target="#play-help-nav" data-offset="0">
          <div id="help-body" class="play-help-section">
            <h1 id="play-overview" class="page-header">Overview</h1>
            <h2 id="play-details">What is Play With Magic</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae augue porttitor, ullamcorper tortor vel, tempus sapien. Mauris ut posuere ipsum. Donec nec luctus dolor, quis interdum turpis. Pellentesque eget nisi ac dolor molestie luctus. Integer blandit risus venenatis, scelerisque velit eget, pretium sapien. Phasellus et luctus lorem. Nam quis tellus ultricies, euismod ipsum in, laoreet ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sodales orci non tempor consectetur.<p>

            <p>Etiam facilisis malesuada purus, id condimentum lacus convallis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur risus risus, malesuada quis suscipit in, pellentesque ut ligula. In vehicula interdum erat, eget rutrum sapien hendrerit consectetur. Etiam eget velit tincidunt, volutpat massa eu, imperdiet ipsum. Vivamus tempus imperdiet pulvinar. Proin imperdiet eget orci sit amet varius. Maecenas pellentesque justo ac nisl pretium sagittis. Vivamus odio sapien, dictum sagittis magna id, eleifend pellentesque elit. Phasellus velit dui, facilisis vitae sapien id, elementum placerat tellus. Nunc lacinia convallis diam, et molestie odio ullamcorper a. Nunc nec erat justo. Donec auctor, nunc ut feugiat commodo, libero purus mollis turpis, vitae mattis sapien leo hendrerit dolor. Morbi quis mauris mauris.</p>
          </div>
          <div class="play-help-section">
            <h1 id="play-lexicon" class="page-header">Lexicon</h1>
            <h2 id="play-magicians">Magicians</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae augue porttitor, ullamcorper tortor vel, tempus sapien. Mauris ut posuere ipsum. Donec nec luctus dolor, quis interdum turpis. Pellentesque eget nisi ac dolor molestie luctus. Integer blandit risus venenatis, scelerisque velit eget, pretium sapien. Phasellus et luctus lorem. Nam quis tellus ultricies, euismod ipsum in, laoreet ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sodales orci non tempor consectetur.<p>

              <p>Etiam facilisis malesuada purus, id condimentum lacus convallis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur risus risus, malesuada quis suscipit in, pellentesque ut ligula. In vehicula interdum erat, eget rutrum sapien hendrerit consectetur. Etiam eget velit tincidunt, volutpat massa eu, imperdiet ipsum. Vivamus tempus imperdiet pulvinar. Proin imperdiet eget orci sit amet varius. Maecenas pellentesque justo ac nisl pretium sagittis. Vivamus odio sapien, dictum sagittis magna id, eleifend pellentesque elit. Phasellus velit dui, facilisis vitae sapien id, elementum placerat tellus. Nunc lacinia convallis diam, et molestie odio ullamcorper a. Nunc nec erat justo. Donec auctor, nunc ut feugiat commodo, libero purus mollis turpis, vitae mattis sapien leo hendrerit dolor. Morbi quis mauris mauris.</p>

              <p>Aenean ullamcorper libero erat, quis interdum diam venenatis eu. Aenean vel ultricies magna. Sed fermentum dolor non blandit mattis. Vivamus condimentum urna sed ipsum dictum varius. Vestibulum iaculis lacus enim, id posuere est molestie quis. Sed dapibus, tellus id interdum hendrerit, libero magna fermentum ligula, ut luctus arcu odio facilisis ante. Ut eget quam vitae orci auctor tristique sed nec mauris. Nulla id metus a enim consectetur rhoncus pretium ut erat. Sed sed finibus libero. Donec vulputate gravida dolor in viverra. Curabitur urna purus, porttitor eu felis at, luctus fringilla leo. Fusce ipsum orci, ornare eget purus quis, volutpat mollis tellus. Nulla erat felis, pulvinar blandit euismod ultricies, convallis interdum felis. Ut porttitor volutpat nisl. Pellentesque sapien lorem, pellentesque vitae condimentum at, tempus non nibh.</p>
            <h2 id="play-routines">Routines</h2>
            <p>Pellentesque dignissim aliquam nibh vel suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc et nibh enim. Suspendisse blandit molestie odio id maximus. Phasellus ornare ornare turpis vel sollicitudin. Donec ligula metus, aliquam ut risus non, porta maximus justo. Cras commodo volutpat mollis. Duis interdum magna eget sem pulvinar pellentesque. Proin blandit consectetur congue. In et efficitur lorem, eget gravida risus. Nulla facilisi. Nulla egestas eros non mi vulputate pharetra. Suspendisse quis ex et sem aliquet semper. Aliquam maximus sagittis elementum. Phasellus eu egestas nulla. In libero enim, pretium vel nisl sit amet, tincidunt dignissim massa.</p>

            <p>Etiam lacus magna, semper vel tellus quis, gravida vulputate ex. Vivamus vitae nunc et lacus finibus interdum. Phasellus faucibus suscipit sem ac ornare. Vestibulum eleifend ut sem ut semper. Donec lorem lectus, aliquet in varius vitae, porta et mi. Integer metus nibh, feugiat at rutrum sed, rutrum id ipsum. Vestibulum ut tellus eget libero aliquam efficitur at vitae metus. Aliquam eros sapien, iaculis vitae volutpat id, egestas a tellus. Etiam vitae urna interdum leo viverra ultrices. Vivamus tempor lectus urna, convallis dignissim magna vehicula nec. Quisque sed eros at libero efficitur accumsan nec at velit.</p>
            <h2 id="play-sets">Sets</h2>
            <p>Descriptive Text</p>
          </div>
        </div>
        <div class="col-md-3" role="complimentary">
          <nav id="play-help-nav" class="navbar navbar-default navbar-static hidden-print hidden-xs hidden-sm affix">
            <ul class="nav play-docs-sidenav">
              <li>
                <a href="#play-overview">Overview</a>
                <ul class="nav">
                  <li>
                    <a href="#play-details">What is Play With Magic?</a>
                  </li>
                </ul>
                <a href="#play-lexicon">Lexicon</a>
                <ul class="nav">
                  <li>
                    <a href="#play-magicians">Accounts</a>
                    <a href="#play-routines">Routines</a>
                    <a href="#play-sets">Sets</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

  </section>
}