@*
* The application's Help page.
*
* @see http://www.playframework.com
*@
@()

@Main("help") {
  <!-- Page Content -->
  <section id="main">
      <!-- Header -->
    <header id="help">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <img class="img-responsive help-logo" src="@routes.Assets.at("images/logo_original_trans.png")"/>
            <h1>Help</h1>
          </div>
        </div>
      </div>
    </header>

    <hr />

    <section class="container">
      <div class="row">
        <div class="col-md-9" role="main" data-spy="scroll" data-target="#play-help-nav" data-offset="0">
          <div id="help-body" class="play-help-section">
            <h1 id="play-overview" class="page-header">Overview</h1>
            <h2>What is Play With Magic?</h2>
            <p>
              Play With Magic allows magicians to catalog their routines. Magicians can cite where they learned it,
              who or what influenced it and how they personalized it. Magicians have the option to share their
              routines with others. The benefit of cataloging routines is access the crowdsourced pool of routines
              that feed a “Set Builder”. The set builder filters routines and sequences them into a cohesive set.
              Magicians can identify routines for their set by searching the catalog and adding them into a shopping
              cart. A routine recommendation engine prompts magicians to consider routines that are popular, utilize
              similar materials or take them out of their comfort zone.
            </p>
            <h2>Who is Play With Magic for?</h2>
            <p>
              It's not difficult to learn a magic trick. The hard part is choreographing a show from a diverse set of
              routines. Over their careers, magicians see countless acts, learn thousands of methods, slights, banter
              and gaffs.
            </p>
            <p>
              Play With Magic is for magicians of all levels to come together and share their routines.  It's a place
              to share your magic with others and to find magic that suits your style.
            </p>
          </div>

          <div class="play-help-section">
            <h1 id="play-terminology" class="page-header">Terminology</h1>

            <h2>Routine</h2>
            <p>
              A self-contained magic trick. Similar to a short story, routines tend to have characters, plot, a twist
              and a satisfying conclusion. A routine can be silent (and still meet the previous requirements) or
              trans-lingual (the audience and the magician don't speak the same language). Routines can be as short as
              a minute or as long as 15 minutes.
            </p>

            <h2>Set</h2>
            <p>
              A collection of routines oftentimes following a common theme. Usually sets run at least 10 minutes and
              can go for more than an hour in some cases. Sometimes a show is one set and sometimes a show is comprised
              of several sets. Sets are sometimes called acts.
            </p>

            <h2>Patter</h2>
            <p>
              The story component of a routine. Sometimes called dialogue, dressing or presentation. Patter styles
              differ from magician to magician and set to set.
              Banter: Ad-hoc interjections in a routine. Often driven by audience response.
            </p>

            <h2>Plot</h2>
            <p>
              A categorization of stories.
              See <a href="http://en.wikipedia.org/wiki/The_Seven_Basic_Plots">The Seven Basic Plots</a>.
            </p>

            <h2>Slight</h2>
            <p>A secret move or technique.</p>

            <h2>Handling</h2>
            <p>An overt move or technique.</p>

            <h2>Effect</h2>
            <p>
              The type of magical effect that the audience sees. Disappearance, transposition, torn-and-restored, etc.
              See <a href="http://geniimagazine.com/wiki/index.php/Effect_Classification">Effect Classification</a>.
            </p>

            <h2>Method</h2>
            <p>
              The overarching 'secret' of a magic trick. Usually comprised of a combination of slights and handlings.
            </p>

            <h2>Gaff</h2>
            <p>
              A gimmick designed to look like something real while accomplishing a secret task. Sometimes called a prop.
            </p>

            <h2>Attribution</h2>
            <p>
              Very important in the magic community. Giving credit to the magician who invented a particular method or
              routine. This is distinct from whom the magician might have learned the routine from.
            </p>

            <h2>Reset</h2>
            <p>
              The process of restoring a routine. Usually from its completed state back to the starting state. Working
              magicians prefer routines that self-reset (at the end of the routine, it's ready to perform again without
              any additional preparation).
            </p>

            <h2>Clean</h2>
            <p>
              The point at which all gaffs or vanished items have been removed. At this time, the venue can be inspected
              and the magician can move freely.
            </p>

            <h2>Dirty</h2>
            <p>When an object is being concealed. For example, a "vanished" object is hidden in the magicians palm.</p>

            <h2>Flourish</h2>
            <p>A showy move which displays handling skills.</p>

            <h2>Misdirection</h2>
            <p>Techniques for controlling attention. Usually unbeknownst to the audience.</p>

            <h2>Venue</h2>
            <p>
              The location or type of audience.
              See <a href="http://geniimagazine.com/wiki/index.php/Effect_Classification">Effect Classification</a>.
            </p>

          </div>
        </div>

        <div class="col-md-3" role="complimentary">
          <nav id="play-help-nav" class="navbar navbar-default navbar-static hidden-print hidden-xs hidden-sm affix">
            <ul class="nav play-docs-sidenav">
              <li>
                <a href="#play-overview">Overview</a>
                <a href="#play-terminology">Terminology</a>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </section>
}