@*
* The application's Home page.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician, message: String)

@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <section id="main">
      <!-- Header -->
    <header id="home" class="jumbotron">
      <div class="container">
        <img class="img-responsive img-center" src="@routes.Assets.at("images/logo_original_trans.png")" />

        <p><em>We're looking for a few good routines</em></p>

        <p>Post Routines, Create Sets and Share Magic!</p>

        <!-- Search Bar -->
        @*<div class="row">*@
          @*<div class="col-md-offset-3 col-md-6">*@
            @*<div class="input-group">*@
              @*<input type="text" class="form-control" placeholder="Search by Routine Name">*@
              @*<span class="input-group-btn">*@
                @*<button class="btn btn-default" type="button"><a href="listRoutines"><i class="fa fa-search"></i></a>*@
                @*</button>*@
              @*</span>*@
            @*</div>*@
            @*<span><small><a href="listRoutines">Advanced Search</a></small></span>*@
          @*</div>*@
        @*</div>*@

        <br/>
        @if(isLoggedIn) {
          <a href="@routes.Application.editRoutine()"><button id="createRoutine" type="button" class="btn btn-primary">
            Create a Routine</button></a>
          <a href="@routes.Application.editSet()"><button id="createSet" type="button" class="btn btn-primary">
              Create a Set</button></a>
        } else {
          @if(message.length() > 0) {
            <p>@message</p>
            <a href="@routes.Application.login()">
              <button id="newLogin" type="button" class="btn btn-primary">
                Log In to Get Started!
              </button>
            </a>
          } else {
            <a href="@routes.Application.editUser()">
              <button id="joinTheCommunity" type="button" class="btn btn-primary">
                Join the Community Today!
              </button>
            </a>
          }
        }
      </div>
    </header>
  </section>
}