@(contacts: List[Contact])

@Main("Home") {
  <div class="container">
    <h1>Current Contacts</h1>
  </div>
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Digits</th>
        </tr>
      </thead>
      <tbody>
        @for(contact <- contacts) {
          <tr>
            <td>@contact.getFirstName</td>
            <td>@contact.getLastName</td>
            <td>@contact.getTelephone</td>
            <td><a href="@routes.Application.newContact(contact.getId)" class="btn btn-warning btn-xs" role="button">Edit</a></td>
            <td><a href="@routes.Application.deleteContact(contact.getId)" class="btn btn-danger btn-xs" role="button">Delete</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}