@*
* List all of the magicians in the application.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician, magicians: List[Magician])

@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <div class="container">
    <h1>Current Magicians</h1>
  </div>

  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stage Name</th>
          <th>Type</th>
          @*    <th>Routines</th>  *@   @* TODO: Remove for now / continuous release  *@
          <th>Edit</th>
          <th>Change Password</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        @for(magician <- magicians) {
          <tr>
            <td><a href="viewMagician?id=@magician.getId" class="viewMagician">@magician.getFirstName @magician.getLastName</a></td>
            <td>@if(magician.getStageName) { @magician.getStageName } else { None }</td>
            <td>@magician.getMagicianType.getName</td>
@*          <td>Link to Magician's Routines Here</td>  *@
            <td>
              <a href="@routes.Application.editMagician(magician.getId)" class="btn btn-warning btn-xs editMagician" role="button">
              Edit</a>
            </td>
            <td>
              <a href="@routes.Application.editUser(magician.getId)" class="btn btn-warning btn-xs changePassword" role="button">
              Change Password</a>
            </td>
            <td>
              <a href="@routes.Application.deleteMagician(magician.getId)" class="btn btn-danger btn-xs deleteMagician" role="button">
              Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}