@*
* List all of the Routines in the application.
*
* For the Minimum Viable Product release, we are not searching/filtering any content. The page list all of the
* routines.
*
* @see http://www.playframework.com
*@
@(routines: List[Routine])

@Main("listRoutines") {
  <!-- Page Content -->
  <section id="page">
    <section id="content" class="container">

      <div class="container">
        <h1>Current Routines</h1>
      </div>

      <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
          @for(routine <- routines) {
            <tr>
              <td><a href="@routes.Application.viewRoutine(routine.getId)" class="viewRoutine">@routine.getName</a></td>
              <td>@routine.getDuration @if(routine.getDuration == 1) {min} else {mins}</td>
              <td>
                <a href="@routes.Application.editRoutine(routine.getId)" class="btn btn-warning btn-xs editRoutine"
                role="button">Edit</a>
              </td>
              <td>
                <a href="@routes.Application.deleteRoutine(routine.getId)" class="btn btn-danger btn-xs deleteRoutine"
                role="button">Delete</a>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    </section>
  </section>

}