@*
* Boilerplate HTML that wraps every page of the application.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician)(content: Html)

<!DOCTYPE html>
<html>
  <head lang="en">

    <title>Play With Magic</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Bootstrap CDN loads -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css"/>

      <!--  Load site-specific customizations after bootstrap. -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.css")" />
      <!--<link rel="shortcut icon" type="image/png" href="">-->

      <!-- FontAwesome fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>



      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
      <![endif]-->
  </head>
  <body id="@page">

      <!-- Responsive navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <!--  Display three horizontal lines when navbar collapsed. -->
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a id="linkToIndexPage" class="navbar-brand" href="@routes.Application.index()">
            <img class="logo" src="@routes.Assets.at("images/logo_original_trans.png")" alt="Logo"/>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a id="browseRoutines" href="@routes.Application.listRoutines()">Browse Routines</a></li>
            <li><a id="browseSets" href="@routes.Application.listAllSets()">Browse Sets</a></li>
            <li><a id="browseMagicians" href="@routes.Application.listMagicians()">Browse Magicians</a></li>
          </ul>

            <!-- Don't show Search on home page or New Magician page-->
          @* @if( page != "home" && page != "editMagician" ) { *@
          @*<form class="navbar-form navbar-left" role="search">*@
          @*<div class="input-group">*@
          @*<input type="text" class="form-control" placeholder="Search" />*@
          @*<span class="input-group-btn">*@
          @*<button class="btn btn-default" type="button"><a href="listRoutines">Search Routines</a></button>*@
          @*</span>*@
          @*</div>*@
          @*</form>*@
          @*}*@

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="navbarLinkToHelpPage" href="@routes.Application.help()">
                <i class="fa fa-question fa-lg hidden-xs"></i>
                <span class="visible-xs-inline">Help</span>
              </a>
            </li>
              <!-- User Info Dropdown, don't show if not logged in -->
            @if(isLoggedIn) {
              <li class="dropdown">
                <a id="myName" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Welcome @userInfo.getFirstName() <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a id="profile" href="@routes.Application.viewMagician(userInfo.getId)">Profile</a></li>
                  @* TODO: Remove until Magicians can bookmark routines *@
                  @* <li><a id="myRoutines" href="@routes.Application.listRoutines()">My Routines</a></li> *@
                  <li><a id="mySets" href="@routes.Application.listMySets()">My Sets</a></li>
                  <li><a id="createRoutine" href="@routes.Application.editRoutine()">Create Routine</a></li>
                  <li><a id="createSet" href="@routes.Application.editSet()">Create Set</a></li>
                  <li class="divider"></li>
                  <li><a id="logout" href="@routes.Application.logout()">Logout</a></li>
                </ul>
              </li>
            } else {
              <li><a id="navbarLinkToSignupPage" href="@routes.Application.editUser()">Signup</a></li>
              <li><a id="navbarLinkToLoginPage" href="@routes.Application.login()">Login</a></li>
            }
          </ul>
        </div>
      </div>
    </nav>
    @content
      <!-- Footer, only display on home and help page -->
    @if( page == "home" || page == "help" || page == "login" ) {
      <footer class="footer">
        <div class="container">
          <div class="col-md-3">
            <p><a id="linkToAboutPage" href="/about">About Play with Magic</a></p>
            <p>
              <a id="linkToGitHubNewIssue" href="https://github.com/PlayWithMagic/PlayWithMagic.org/issues/new">Problems? Contact us on Github!</a>
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <i class="fa fa-css3 fa-fw"></i>
              <a id="linkToTwitterBootstrap" href="http://getbootstrap.com/">Responsive Layout built on Twitter Bootstrap</a>
            </p>

          </div>
          <div class="col-md-3">
            <p>
              <i class="fa fa-play"></i>
              <a id="linkToPlayFramework" href="http://playframework.com">Created with Play Framework</a>
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <i class="fa fa-github"></i>
              <a id="linkToProjectHomepage" href="http://playwithmagic.github.io/PlayWithMagic.org">Visit the Project on Github</a>
            </p>
          </div>
        </div>
      </footer>
    }

      <!-- Load Bootstrap JavaScript components -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/scripts.js")"></script>

  </body>
</html>