@(contactForm: Form[views.formdata.ContactFormData])

@import views.html.bootstrap3._
@import helper._

@Main("NewContact") {
  <div class="container">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
      <input type="hidden"
      name="@contactForm("id").name"
      id="@contactForm("id").id"
      value="@contactForm("id").value"/>
    <!--<form class="form-horizontal">-->
      <!-- First Name -->
      @text(contactForm("firstName"),
        label = "First",
        placeholder = "First Name",
        help = "")

      <!-- Last Name -->
      @text(contactForm("lastName"),
        label = "Last",
        placeholder = "Last Name",
        help = "")

      <!-- Telephone -->
      @text(contactForm("telephone"),
        label = "Telephone",
        placeholder = "xxx-xxx-xxxx",
        help = "")

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submit" type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    <!--</form>-->
    }
  </div>
}