@*
* The New and Update Routine HTML form page.
*
* @author Mark Nelson
* @see http://www.playframework.com
*@
@(routineForm: Form[views.formdata.RoutineFormData])

  @import helper._
  @import views.html.bootstrap3._


  @Main("NewRoutine") {
    <!-- Page Content -->
    <section id="page">
        <!-- Content -->
      <section id="content" class="container">
        <div class="col-md-12">
          <h1>Create Routine</h1>
            <!-- User Attributes -->
          <div class="container">
          @form(routes.Application.postRoutine(), 'class -> "form-horizontal") {
            <input type="hidden"
            name="@routineForm("id").name"
            id="@routineForm("id").id"
            value="@routineForm("id").value"/>

              <!-- Name -->
            @text(routineForm("name"),
              label = "Name",
              placeholder = "Name",
              help = "")

              <!-- Description -->
            @text(routineForm("description"),
              label = "Description",
              placeholder = "Description",
              help = "")

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" class="btn btn-default">Add</button>
              </div>
            </div>
          }
          </div>
        </div>
      </section>
    </section>
  }