@*
* The Search Routine page.
*
* For the Minimum Viable Product release, we are not searching/filtering any content. The page list all of the
* routines.
*
* @see http://www.playframework.com
*@
@(routines: List[Routine])

@Main("Home") {
  <!-- Page Content -->
  <section id="page">
    <section id="content" class="container">

      <div class="container">
        <h1>Search Routines</h1>
      </div>

      <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
          @for(routine <- routines) {
            <tr>
              <td>@routine.getName</td>
              <td>@routine.getDuration</td>
              <td><a href="@routes.Application.newRoutine(routine.getId)" class="btn btn-warning btn-xs" role="button">Edit</a></td>
              <td><a href="@routes.Application.deleteRoutine(routine.getId)" class="btn btn-danger btn-xs" role="button">Delete</a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    </section>
  </section>

}