@*
* The Show Routine page.
*
* Displays a single routine.
*
* @see http://www.playframework.com
*@
@(routine: Routine)

@Main("showRoutine") {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-6">
        <h1>@routine.getName <small><a href="showMagicians">Magician Name</a></small></h1>
        <img class="img-responsive" src="@routes.Assets.at("images/card-rainbow.jpg")" alt="Image of Routine"/>
        <h2>Related Routines</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Routine</th>
              <th>Attribution</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="showRoutinesl">Routine Name</a></td>
              <td><a href="showMagicians">User Name</a></td>
            </tr>
            <tr>
              <td><a href="showRoutinesl">Routine Name</a></td>
              <td><a href="showMagicians">User Name</a></td>
            </tr>
            <tr>
              <td><a href="showRoutinesl">Routine Name</a></td>
              <td><a href="showMagicians">User Name</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <p><a href="showRoutines" class="btn btn-large">Return to Routine List</a>
          <a href="/newRoutine?id=@routine.getId" class="btn btn-large">Edit Routine</a></p>

        <h3>Description</h3>
        <p>@routine.getDescription</p>

        <h3>Time to Perform</h3>
        <p>@routine.getDuration @if(routine.getDuration == 1) {minute} else {minutes}</p>

        <h3>Method</h3>
        <p>@routine.getMethod</p>

        <h3>Handling</h3>
        <p>@routine.getHandling</p>

        <h3>Reset Duration</h3>
        <p>@routine.getResetDuration @if(routine.getResetDuration == 1) {minute} else {minutes}</p>

        <h3>Reset Description</h3>
        <p>@routine.getResetDescription</p>

        <h3>Materials</h3>

        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
          <li>Item 7</li>
        </ul>

      </div>

    </section>
  </section>
}