@*
* View a single magician.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician, magician: Magician)

@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-6">
        <h2>
          @if(magician.getStageName && magician.getStageName != magician.getFirstName + " " + magician.getLastName) {
            @magician.getStageName
          } else {
            Magician
          }
          <small>@magician.getFirstName @magician.getLastName</small>
        </h2>

        <p class="visible-xs-block visible-sm-block">
          <a href="@routes.Application.editMagician(magician.getId)" class="btn btn-large">Edit Profile</a>
          <a href="@routes.Application.listMagicians()" class="btn btn-large">Return to Magician List</a>
        </p>

        <img class="img-responsive" src="@routes.Assets.at("images/working-man.jpg")" alt="Image of Magician"/>

        <section id="social">
          @if(magician.getEmail) {
            <a href="mailto:@magician.getEmail"><i class="fa fa-envelope-o"></i></a>
          }
          @if(magician.getWebsite) {
            <a href="@magician.getWebsite"><i class="fa fa-home"></i></a>
          }
          @if(magician.getFacebook) {
            <a href="@magician.getFacebook"><i class="fa fa-facebook"></i></a>
          }
          @if(magician.getTwitter) {
            <a href="https://twitter.com/@magician.getTwitter"><i class="fa fa-twitter"></i></a>
          }
          @if(magician.getLinkedIn) {
            <a href="@magician.getLinkedIn"><i class="fa fa-linkedin"></i></a>
          }
          @if(magician.getGooglePlus) {
            <a href="@magician.getGooglePlus"><i class="fa fa-google-plus"></i></a>
          }
          @if(magician.getFlickr) {
            <a href="@magician.getFlickr"><i class="fa fa-flickr"></i></a>
          }
          @if(magician.getInstagram) {
            <a href="http://www.instagram.com/@magician.getInstagram"><i class="fa fa-instagram"></i></a>
          }
        </section>
      </div>
      <div class="col-md-6">
        <p class="hidden-xs hidden-sm">
          <a id="editMagician" href="@routes.Application.editMagician(magician.getId)" class="btn btn-large">
            Edit Profile
          </a>
          <a id="returnToMagicianList" href="@routes.Application.listMagicians()" class="btn btn-large">
            Return to Magician List
          </a>
        </p>

        <h3>Experience with Magic</h3>
        <p>
          @magician.getMagicianType.getName @if(magician.getYearStarted != null) {, practicing since @magician.getYearStarted}
        </p>

        @if(magician.getBiography) {
          <h3>Biography</h3>
          <p>@magician.getBiography</p>
        }

        @if(magician.getLocation) {
          <h3>Home Base</h3>
          <p>@magician.getLocation</p>
        }

        @if(magician.getInterests) {
          <h3>Interests in Magic</h3>
          <p>@magician.getInterests</p>
        }

        @if(magician.getInfluences) {
          <h3>Influences</h3>
          <p>@magician.getInfluences</p>
        }

        @if(magician.getOrganizations) {
          <h3>Organizations</h3>
          <p>@magician.getOrganizations</p>
        }

        @**
        * In keeping with the 'continuous release strategy and ensuring that all code is functional,
        * we're commenting this out for now.
        *
        <h3>@magician.getStageName's Routines
          <small class="hidden-xs hidden-sm">
            <a class="btn btn-large" href="/editRoutine">Add Routine</a>
          </small>
        </h3>
        <p class="visible-xs-block visible-sm-block">
        <a href="/editRoutine" class="btn btn-sm">Add Routine</a>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Row</th>
              <th>Routine</th>
              <th>Attribution</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
          </tbody>
        </table>
        *@
      </div>
    </section>
  </section>
}