@*
* View a single magician.
*
* @see http://www.playframework.com
*@
@(magician: Magician)

@Main("viewMagician") {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-6">
        <h2>@if(magician.getStageName) { @magician.getStageName } else { Magician }
          <small>@magician.getFirstName @magician.getLastName</small>
        </h2>
        <img class="img-responsive" src="@routes.Assets.at("images/working-man.jpg")" alt="Image of Magician"/>
        <section id="social">
          @if(magician.getFacebook) {
            <a href="@magician.getFacebook"><i class="fa fa-facebook"></i></a>
          }
          @if(magician.getTwitter) {
            <a href="https://twitter.com/@magician.getTwitter"><i class="fa fa-twitter"></i></a>
          }
          @if(magician.getLinkedIn) {
            <a href="@magician.getLinkedIn"><i class="fa fa-linkedin"></i></a>
          }
          @if(magician.getGooglePlus) {
            <a href="@magician.getGooglePlus"><i class="fa fa-google-plus"></i></a>
          }
          @if(magician.getFlickr) {
            <a href="@magician.getFlickr"><i class="fa fa-flickr"></i></a>
          }
          @if(magician.getInstagram) {
            <a href="http://www.instagram.com/@magician.getInstagram"><i class="fa fa-instagram"></i></a>
          }
        </section>
      </div>
      <div class="col-md-6">
        <p><a href="listMagicians" class="btn btn-large">Return to Magician List</a>
          <a href="/editMagician?id=@magician.getId" class="btn btn-large">Edit Profile</a></p>


        <h3>Level of Experience</h3>
        <p>
          @magician.getExperienceLevel@if(magician.getYearStarted != 0) {, practicing since @magician.getYearStarted}
        </p>
        <h3>Biography</h3>
        <p>@magician.getBiography</p>

        <h3>Interests in Magic</h3>
        <p>@magician.getInterests</p>

        <h3>Influences</h3>
        <p>@magician.getInfluences</p>

        @if(magician.getOrganizations) {
          <h3>Organizations</h3>
          <p>@magician.getOrganizations</p>
        }

        <h3>@magician.getStageName's Routines
          <small><a href="#">Add</a></small>
        </h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Row</th>
              <th>Routine</th>
              <th>Attribution</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="displayRoutine.html">Routine Name</a></td>
              <td><a href="displayUser.html">User Name</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
}