@*
* View/display a single item or material used in a routine.
*
* @see http://www.playframework.com
*@
@(page: String, isLoggedIn: Boolean, userInfo: Magician, material: Material)

@Main(page, isLoggedIn, userInfo) {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-6">
        <h1>@material.getName</h1>
        @if(material.getImageId > 0) {
          <img class="img-responsive" src="@routes.Application.getImage(material.getImageId)" alt="Image of Material" />
        } else {
          @if(material.getImageUrl != null) {
            <img class="img-responsive" src="@routes.Assets.at(material.getImageUrl)" alt="Image of Material"/>
          } else {
            <img class="img-responsive" src="@routes.Assets.at("images/card-rainbow.png")" alt="Material Image Placeholder"/>
          }
        }
        <br />
      </div>
      <div class="col-md-6">
        <p>
          <a id="viewRoutine" href="@routes.Application.viewRoutine(material.getRoutine.getId)" class="btn btn-large">
            View Routine</a>
          <a id="editRoutine" href="@routes.Application.editRoutine(material.getRoutine.getId)" class="btn btn-large">
            Edit Routine</a>
          <a id="editMaterial" href="@routes.Application.editMaterialDirect(material.getId)" class="btn btn-large">
            Edit Material</a>
        </p>
        <h3>Notes</h3>
        <p>@material.getDescription</p>

        <h3>Usage</h3>
        <p>Is Inspectable? @if(material.isInspectable()) {Yes} else {No}</p>
        <p>Is Given Away? @if(material.isGivenAway()) {Yes} else {No}</p>
        <p>Is Consumed? @if(material.isConsumed()) {Yes} else {No}</p>

        <h3>Procurement</h3>
        <p>Price = $ @if(material.getPrice() != null) {@material.getPrice()} else {Not available}</p>
        @if(material.getPurchaseUrl() != null && material.getPurchaseUrl().length() > 0) {
          <a href="@material.getPurchaseUrl()">@material.getPurchaseUrl()</a>
        } else {
          <p>A link to purchase the item is not available.  Please add one!</p>
        }
      </div>

    </section>
  </section>
}