@*
* View/display a single item or material used in a routine.
*
* @see http://www.playframework.com
*@
@(material: Material)

@Main("viewRoutine") {
  <!-- Page Content -->
  <section id="page">
      <!-- Content -->
    <section id="content" class="container">
      <div class="col-md-6">
        <h1>@material.getName</h1>
        @if(material.getImageUrl != null) {
          <img class="img-responsive" src="@routes.Assets.at(material.getImageUrl)" alt="Image of Marerial"/>
        }
        <br />
      </div>
      <div class="col-md-6">
        <p class="hidden-xs hidden-sm">  @* TODO FIX 1 Below *@
          <a href="@routes.Application.editMaterial(1)" class="btn btn-large">Edit Material</a>
          <a href="@routes.Application.listRoutines()" class="btn btn-large">Show Routines</a>
        </p>
        <h3>Notes</h3>
        <p>@material.getDescription</p>

      </div>

    </section>
  </section>
}
